@model List<Price>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Araç Ödeme Planlları</h3>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Araç</th>
        <th>Ödeme Planı</th>
        <th>Fiyat</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PriceID</td>
            <td>@item.Car.Brand.BrandName @item.Car.CarModel</td>
            <td>@item.PriceType</td>
            <td>@item.PriceValue</td>
            <td><a href="/Price/UpdatePrice/@item.PriceID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Price/DeletePrice/@item.PriceID" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/Price/CreatePrice" class="btn btn-primary">Yeni Araç Ödeme Girişi</a>
